{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> {% block title %} MusicAnalyzer {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/js/uikit-icons.min.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- own CSS -->
    <link rel="icon" href="{% static "/images/favicon.png" %}" type="image/png" />
    <link rel="stylesheet" type="text/css" href="{% static "/css/base.css" %}"/>
    {% block head_block %}{% endblock %}
</head>
<body>
<header>
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-default" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">

                    <li style="width:20%;"><a href="{% url 'MusicAnalyzer:index' %}"><img style="padding-bottom: 2em;" src="{% static "/images/logo.png" %}" alt="logo"></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="body">
    {% block body_block %}{% endblock %}
</div>
</body>
</html>