{% extends 'MusicAnalyzer/Base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block head_block %}
    {# JQUERY FILE UPLOAD SCRIPTS #}
    <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
    {# fontawesome for icons #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {# add static files here #}
    <link rel="stylesheet" type="text/css" href="{% static "/css/choice.css" %}"/>
    <script src="{% static 'js/handle_file_choice.js' %}"></script>

{% endblock %}

{% block body_block %}
    <h2 class="uk-text-center">{{ heading }}</h2>
    {{ message }}
    <div class="uk-text-center space-m uk-align-center uk-width-1-1 uk-width-3-4@m" id="explanation">
        <ul uk-accordion>
            <li>
                <a class="uk-accordion-title" href="#">What can I do here?</a>
                <div class="uk-accordion-content">{{ explanation }}</div>
            </li>
        </ul>
    </div>
    <div class="uk-child-width-expand@s" uk-grid>
        <div class="uk-container">
            <h3 class="uk-text-center">Select your own file <span class="uk-icon-button" uk-icon="question"
                                                                  uk-tooltip="title: Valid file formats are: <br> ABC (.abc), Capella (.cap), ClercqTemperley, Humdrum (.krn), MEI (.mei), Midi (.midi), MuseData (.md), MusicXML (.musicxml/.mxl), Noteworthy (.nwc), NoteworthyBinary, RomanText (.rtf), Scala (.scl), TinyNotation and Volpiano.;">

            </span></h3>

            <div class="js-upload uk-placeholder uk-text-center upload_files_new">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle">Drop your file here to upload or</span>
                <div uk-form-custom>
                    <input id="fileupload" type="file" name="files"
                            {% if type == "distant" %}
                           multiple
                           data-url="{% url 'MusicAnalyzer:distant_choice' %}"
                            {% elif type == "individual" %}
                           data-url="{% url 'MusicAnalyzer:individual_choice' %}"
                            {% endif %}
                           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                    <span class="uk-link upload_files">select from computer</span>
                </div>
            </div>
            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>


        </div>
        <div class="uk-container">
            <h3 class="uk-text-center">Search file from corpus <a uk-tooltip="Click to explore contents of corpus"
                                                                  target="_blank" rel="noopener noreferrer"
                                                                  href="https://github.com/cuthbertLab/music21/tree/master/music21/corpus"
                                                                  class="uk-icon-button" uk-icon="question"
                                                                  id="linkToCorpus"
            ></a></h3>
            {% if search_form %}
                <form id="search_form" method="post"
                        {% if type == "distant" %}
                      action="{% url 'MusicAnalyzer:distant_choice' %}"
                      data-search-corpus-url="{% url 'MusicAnalyzer:distant_choice' %}"
                        {% elif type == "individual" %}
                      action="{% url 'MusicAnalyzer:individual_choice' %}"
                      data-search-corpus-url="{% url 'MusicAnalyzer:individual_choice' %}"
                        {% endif %}
                >
                    {% csrf_token %}
                    <input type="hidden" name="state" value="search_corpus"/>
                    {{ search_form.as_p }}
                </form>
                <button id="search_corpus_button" class="uk-button uk-button-default"
                        onclick="search_corpus(event)"><i class="fas fa-search"></i>&nbsp;Search
                </button>

            {% endif %}
        </div>
    </div>

    {% if type == "distant" %}

        <h3>Define groups</h3>
        <form id="add_group_form" method="post"
              action="{% url 'MusicAnalyzer:distant_choice' %}"
              data-add-group-url="{% url 'MusicAnalyzer:distant_choice' %}"
        >
            {% csrf_token %}
            <input type="hidden" name="state" value="new_group"/>
            {{ add_group_form.as_p }}
        </form>
        <div class="uk-flex uk-flex-center">
            <button id="add_group_button" class="uk-button uk-button-default"
                    onclick="add_group(event)"><i class="fas fa-plus-circle"></i>&nbsp;Add
            </button>
        </div>

        <div id="group_choice_model_form_to_copy_from" class="invisible">
        {{ group_choice_form.as_p }}
        </div>

    {% endif %}
    <div id="searchResults" class="invisible uk-grid uk-child-width-1-1">
        <hr class="uk-divider-icon">
        <div class="uk-container uk-align-center">

            <form id="select_to_analyse_form" method="post"
                    {% if type == "distant" %}
                  action="{% url 'MusicAnalyzer:distant_choice' %}"
                  data-search-corpus-url="{% url 'MusicAnalyzer:distant_choice' %}"
                    {% elif type == "individual" %}
                  action="{% url 'MusicAnalyzer:individual_choice' %}"
                  data-search-corpus-url="{% url 'MusicAnalyzer:individual_choice' %}"
                    {% endif %}>
                {% csrf_token %}
                <input type="hidden" name="state" value="select_for_analysis"/>

                <div class="uk-flex uk-flex-center">
                    <button class="uk-button uk-button-default uk-align-center submitButton" type="submit" disabled
                            id="analyzeButton1"><i
                            class="fas fa-chart-line"></i>&nbsp;&nbsp;Analyze

                    </button>
                </div>
                <table id="t_searchResults" class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                    <tr>
                        <th>
                            {% if type == "distant" %}
                                <input type="checkbox" class="uk-checkbox" name="music_piece"
                                       id="select_all_music_pieces"
                                       value="select all" class="invisible" onclick="toggleSelectAll(this)">
                            {% elif type == "individual" %}
                                <a type="button" id="deselect_all_music_pieces"
                                   name="music_piece" onclick="toggleSelectAll(this)">deselect
                                </a>
                            {% endif %}
                        </th>
                        {% if type == "distant" %}<th>group</th>{% endif %}
                        <th>composer</th>
                        <th>title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ data|json_script:"already_uploaded" }}
                    </tbody>
                </table>
                <div class="uk-flex uk-flex-center">
                    <button class="uk-button uk-button-default analyzeButton" type="submit" disabled
                            id="analyzeButton2"><i
                            class="fas fa-chart-line"></i>&nbsp;&nbsp;Analyze

                    </button>
                </div>
            </form>
        </div>

    </div>

{% endblock %}