{% extends 'MusicAnalyzer/Base.html' %}
{% load staticfiles %}
{% load customFilters %}
{% block title %}{{ title }}{% endblock %}
{% block head_block %}
    {# JQUERY FILE UPLOAD SCRIPTS #}
    <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
    {# fontawesome for icons #}
    <link rel="stylesheet" type="text/css" href="{% static "/css/distantAnalysis.css" %}"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="{% static 'js/distant_analysis.js' %}"></script>
{% endblock %}
{% block right_nav_block %}
    <li><a href="#overview">Overview</a></li>
    <li><a href="#chords">Chords</a></li>
    <li><a href="#pitches">Pitches</a></li>
    <li><a href="#durations">Durations</a></li>
    <li><a href="#key">Key</a></li>
    <li><a href="#ambitus">Ambitus</a></li>
{% endblock %}

{% block body_block %}
    <div id="overview">
        {% if  explanations %}
            <ul class="uk-breadcrumb">
                <li><a href="{% url 'MusicAnalyzer:distant_choice' %}">Distant Hearing Choice</a></li>
                <li><span>Distant Hearing Analysis</span></li>
            </ul>
            <h2 class="uk-text-center">Overview</h2>
            <div class="uk-text-center" uk-grid>
                <div class="uk-width-1-3">
                    <div class="uk-card uk-card-default uk-card-body">
                        <h2 class="uk-card-title">Chords</h2>
                        {{ explanations.chords }}
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="uk-card uk-card-default uk-card-body">
                        <h2 class="uk-card-title">Pitches</h2>
                        {{ explanations.pitches }}
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="uk-card uk-card-default uk-card-body">
                        <h2 class="uk-card-title">Durations</h2>
                        {{ explanations.durations }}
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="uk-card uk-card-default uk-card-body">
                        <h2 class="uk-card-title">Key</h2>
                        {{ explanations.key }}
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="uk-card uk-card-default uk-card-body">
                        <h2 class="uk-card-title">Ambitus</h2>
                        {{ explanations.ambitus }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <h3>The following music pieces were analysed</h3>
    <table class="uk-table uk-table-middle uk-table-divider">
        <thead>
        <tr>
            <th>group</th>
            <th>composer</th>
            <th>title</th>
            <th>year</th>
        </tr>
        </thead>
        <tbody>
        {% for music_piece in metadata %}
            <tr>
                <td>{{ music_piece.group }}</td>
                <td>{{ music_piece.composer }}</td>
                <td>{{ music_piece.title }}</td>
                <td>{{ music_piece.year }}</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>


    <div id="chords">
        <h2>Chords</h2>
        <div class="ct-chart ct-perfect-fourth"></div>

    </div>
    <div id="pitches">
        <h2>Pitches</h2>
    </div>
    <div id="durations">
        <h2>Durations</h2>
    </div>
    <div id="key">
        <h2>Key</h2>
    </div>
    <div id="ambitus">
        <h2>Ambitus</h2>
    </div>


    <script type="text/javascript">
        distantAnalysis({{ all_summary_stats|safe }});
    </script>
{% endblock %}