{% extends 'MusicAnalyzer/Base.html' %}
{% load staticfiles %}
{% load customFilters %}
{% block title %}Distant Analysis{% endblock %}
{% block head_block %}
    {# JQUERY FILE UPLOAD SCRIPTS #}
    <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
    {# fontawesome for icons #}
    <link rel="stylesheet" type="text/css" href="{% static "/css/distantAnalysis.css" %}"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>
    <script src='https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js'></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-tooltips@0.0.17/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.js"></script>
    <script src="{% static "js/html2canvas.min.js" %}"></script>
    <script src="{% static "js/download_graphs.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="{% static 'js/distant_analysis.js' %}"></script>
    <script>
        var path_to_chart_worker = "{% static "js/chart_worker.js" %}";
        var path_to_boxplot_worker = "{% static "js/boxplot_worker.js" %}";
        var path_to_key_probability_worker = "{% static "js/key_probability_chart_worker.js" %}";
        var path_to_ambitus_chart_worker = "{% static "js/ambitus_chart_worker.js" %}"

    </script>
{% endblock %}
{% block bread_crumb_block %}

        <li><a href="{% url 'MusicAnalyzer:distant_choice' %}">Distant Hearing Choice</a></li>
        <li><span>Distant Hearing Analysis</span></li>
{% endblock %}
{% block right_nav_block %}
    <li><a href="#overview">Overview</a></li>
    <li><a href="#chords">Chords</a></li>
    <li><a href="#pitches">Pitches</a></li>
    <li><a href="#durations">Durations</a></li>
    <li><a href="#key">Key</a></li>
    <li><a href="#ambitus">Ambitus</a></li>
{% endblock %}

{% block body_block %}
    <header>

    </header>
    <div class="column">
    </div>
    <h2 class="uk-text-center">Distant Analysis</h2>
    <div id="overview">
        <div class="space-m uk-align-center uk-width-1-1 uk-width-3-4@m">
            <h4 class="uk-text-center intro">{{ explanations.general }}</h4>
            <ul uk-accordion>
                <li>
                    <a class="uk-accordion-title uk-text-center" href="#">Click to view more detailed explanations
                        concerning the
                        visualizations</a>
                    <div class="uk-accordion-content">
                        {% if  explanations %}

                            <div uk-grid class="uk-flex-center uk-text-center uk-grid-match">
                                <div class="uk-width-1-3">
                                    <div class="uk-card uk-card-default uk-card-body">
                                        <h2 class="uk-card-title">Chords</h2>
                                        {{ explanations.chords }}
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="uk-card uk-card-default uk-card-body">
                                        <h2 class="uk-card-title">Pitches</h2>
                                        {{ explanations.pitches }}
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="uk-card uk-card-default uk-card-body">
                                        <h2 class="uk-card-title">Durations</h2>
                                        {{ explanations.durations }}
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="uk-card uk-card-default uk-card-body">
                                        <h2 class="uk-card-title">Key</h2>
                                        {{ explanations.key }}
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="uk-card uk-card-default uk-card-body">
                                        <h2 class="uk-card-title">Ambitus</h2>
                                        {{ explanations.ambitus }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="space-m uk-align-center uk-width-1-1 uk-width-3-4@m">
        <ul uk-accordion>

            <li>
                <a class="uk-accordion-title uk-text-center" href="#">Click to view the analyzed music pieces</a>
                <div class="uk-accordion-content">
                    <table id="metadata_table" class="uk-table uk-table-middle uk-table-divider">
                        <thead>
                        <tr>
                            <th>group</th>
                            <th>composer</th>
                            <th>title</th>
                            <th>year</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </li>
        </ul>
    </div>

    <hr class="uk-divider-icon">

    <div class="space-m uk-align-center uk-width-1-1 uk-width-3-4@m" id="chords">
        <h2 class="uk-text-center">Chords</h2>
        <div class="chart-container" id="chartChordNames">
            <h3 class="uk-text-center">Roman numeral chord count</h3>
            <div id="tooltip-div1"></div>
            <div class="uk-width-1-1" id="chordChartName">
                <div class="ct-chart-chord-name"></div>

            </div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>

        </div>
        <div class="chart-container">
            <h3 class="uk-text-center">Chord root count</h3>
            <div class="ct-chart-chord-root"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>
        <div class="chart-container">
            <h3 class="uk-text-center">Chord quality count</h3>
            <div class="ct-chart-chord-quality"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>
    </div>
    <hr class="uk-divider-icon">
    <div class="space-m uk-align-center uk-width-1-1 uk-width-3-4@m" id="pitches">
        <h2 class="uk-text-center">Pitches</h2>
        <div class="chart-container">
            <h3 class="uk-text-center">Pitch name count</h3>
            <div class="ct-chart-pitch-name"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>
        <div class="chart-container">
            <h3 class="uk-text-center">Pitch octave count</h3>
            <div class="ct-chart-pitch-octave"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>

        <div class="chart-container">
            <h3 class="uk-text-center">Pitch name with octave count</h3>
            <div id="tooltip-div2"></div>
            <div class="uk-width-1-1" id="pitchOctaveName">
                <div class="ct-chart-pitch-octave-name"></div>
            </div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>

    </div>
    <hr class="uk-divider-icon">
    <div class="space-m uk-align-center uk-width-1-1 uk-width-3-4@m" id="durations">
        <h2 class="uk-text-center">Durations</h2>
        <div class="chart-container">
            <h3 class="uk-text-center">Duration of notes - count by name</h3>
            <div class="ct-chart-duration-fullname-notes-count"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>
        <div class="chart-container">
            <h3 class="uk-text-center">Duration of rests - count by name</h3>
            <div class="ct-chart-duration-fullname-rests-count"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>
        <div class="chart-container">
            <h3 class="uk-text-center">Duration of notes - count by value [length in quarters]</h3>
            <div class="ct-chart-duration-length-notes-count"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>
        <div class="chart-container">
            <h3 class="uk-text-center">Duration of rests - count by value [length in quarters]</h3>
            <div class="ct-chart-duration-length-rests-count"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>
        <div class="chart-container">
            <h3 class="uk-text-center">Duration of rests and notes - count by value [length in quarters]</h3>
            <div class="ct-chart-duration-length-notes-rests-count"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>
        <div class="chart-container">
            <h3 class="uk-text-center">Sound to silence ratio</h3>
            <div class="ct-chart-sound_silence_ratio"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>
    </div>

    <hr class="uk-divider-icon">
    <div class="space-m uk-align-center uk-width-1-1 uk-width-3-4@m" id="key">
        <h2 class="uk-text-center">Key</h2>
        <div class="chart-container">
            <h3 class="uk-text-center">Key name count</h3>
            <div class="ct-chart-key-name"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>
        <div class="chart-container">
            <h3 class="uk-text-center">Key mode count</h3>
            <div class="ct-chart-key-mode"></div>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadButton">Download this
                chart
            </button>
            <button type="button" class="uk-button uk-button-default uk-align-center downloadLegendButton">Download
                legend
            </button>
        </div>
        <div class="chart-container" id="probabilityCharts">
            <h3 class="uk-text-center">Key probabilities per music piece and group</h3>
        </div>

    </div>
    <hr class="uk-divider-icon">
    <div class="space-m uk-align-center uk-width-1-1 uk-width-3-4@m" id="ambitus">
        <h2 class="uk-text-center">Ambitus</h2>
        <div class="chart-container" id="rangeCharts">
            <h3 class="uk-text-center">Range between highest and lowest pitch by group</h3>
            <p class="uk-text-center">Please hover over the bars to view more detailed information.</p>
        </div>
        <div class="chart-container">
            <h3 class="uk-text-center">Boxplots of ambitus semitones</h3>
            <div id="boxplots"></div>
        </div>
    </div>

    <div class="invisible">
        <form id="start_distant_analysis_form" action="/MusicAnalyzer/distantAnalysis/"
              method="post"
              data-analysis-choice-url="/MusicAnalyzer/distantAnalysis/"
              class="uk-form-stacked">
            {% csrf_token %}
            <input type="text" name="state" value="{{ state }}">

        </form>
    </div>
{% endblock %}