{% extends 'MusicAnalyzer/Base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block head_block %}
    {# JQUERY FILE UPLOAD SCRIPTS #}
    <script src="{% static 'js/opensheetmusicdisplay.min.js' %}"></script>

    <script src="{% static 'js/fileSelectAndLoadOSMD.js' %}"></script>
    {# fontawesome for icons #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {# add static files here #}
{% endblock %}

{% block body_block %}
    <header>
        <div class="uk-position-top">
            <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
                <nav class="uk-navbar-container uk-navbar-default" uk-navbar>
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">

                            <li style="width:20%;"><a href="{% url 'MusicAnalyzer:index' %}"><img
                                    style="padding-bottom: 2em;" src="{% static "/images/logo.png" %}" alt="logo"></a>
                            </li>
                        </ul>

                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav" style="color:black;">
                            <li style="margin-right:2em;">
                                <div>
                                    <i id="zoom-in-btn"
                                       class="fas fa-search-plus fa-2x"></i>
                                    <div class="uk-navbar-subtitle">Zoom in</div>
                                </div>
                            </li>
                            <li style="margin-right:2em;">
                                <div>
                                    <i id="zoom-out-btn"
                                       class="fas fa-search-minus fa-2x"></i>
                                    <div class="uk-navbar-subtitle">Zoom out</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="column">
    </div>
    <div class="space-m uk-align-center uk-width-1-1 uk-width-3-4@m"
         style="background: #f2f7fc; border: 1px solid #ddd; margin-top: 6em;">
        <div class="uk-padding" id="osmdCanvas"></div>
    </div>
    <input type="hidden" id="musicPiece" value="{{ music_pieces }}">
{% endblock %}