{% extends 'MusicAnalyzer/Base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block head_block %}
    {# JQUERY FILE UPLOAD SCRIPTS #}
    <script src="{% static 'js/opensheetmusicdisplay.min.js' %}"></script>

    <script src="{% static 'js/fileSelectAndLoadOSMD.js' %}"></script>
    {# fontawesome for icons #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {# add static files here #}
{% endblock %}

{% block body_block %}
    <div class="space-m uk-align-center uk-width-1-1 uk-width-1-2@m"
         style="background: #f2f7fc; border: 1px solid #ddd; margin-top: 6em;">
        <div class="uk-padding" id="osmdCanvas"></div>
    </div>
    <input type="hidden" id="musicPiece" value="{{ music_pieces }}">
{% endblock %}