{% extends 'MusicAnalyzer/Base.html' %}
{% load staticfiles %}
{% load customFilters %}
{% block title %}{{ title }}{% endblock %}
{% block head_block %}
    {# JQUERY FILE UPLOAD SCRIPTS #}
    <script src="{% static 'js/opensheetmusicdisplay.min.js' %}"></script>

    <script src="{% static 'js/fileSelectAndLoadOSMD.js' %}"></script>
    {# fontawesome for icons #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {# add static files here #}
    <link rel="stylesheet" type="text/css" href="{% static "/css/individualAnalysis.css" %}"/>
    <script src="{% static 'js/ui_kit_styling.js' %}"></script>
{% endblock %}

{% block body_block %}
    <div class="space-m uk-align-center uk-width-1-1 uk-width-1-2@m"
         style="margin-top: 6em;">
        <div class="uk-padding">
            {#            <h3>Test Überschrift</h3>#}

            {% if analysis_form %}
                <form action="/MusicAnalyzer/IndividualAnalysis/" method="post" class="uk-form-stacked">
                    {% csrf_token %}
                    <div class="uk-margin">
                    <div class="question">
                        {% for field in analysis_form.visible_fields %}

                                {{ field.errors }}
                            <div class="uk-form-label">{{ field.label }}</div>
                               {{ field.help_text }}
                            <div class="uk-form-controls">{{ field }}</div>
                        {% endfor %}
                    </div>
                    </div>
                <input class="button" type="submit" name="analyzeChoice" value="Analyze"/>
                </form>
            {% endif %}

        <!-- use django forms!
            <form class="uk-form-stacked">
                <div class="uk-margin">
                    <div class="uk-form-label">Choose metrics to analyse:</div>
                    <div class="uk-form-controls">
                        <label><input class="uk-checkbox" type="checkbox"> chords</label>
                        <br>
                        <label><input class="uk-checkbox" type="checkbox"> intervals</label>
                        <br>
                        <label><input class="uk-checkbox" type="checkbox"> leading notes</label>
                        <br>
                        <label><input class="uk-checkbox" type="checkbox"> key</label>
                    </div>
                </div>
            </form>
 -->
            {#            <form class="uk-form-stacked">#}
            {#                <div class="uk-margin"> #}
            {#                    <div class="uk-form-label">Radio</div>#}
            {#                    <div class="uk-form-controls">#}
            {#                        <label><input class="uk-checkbox" type="checkbox">A</label>#}
            {#                        <br>#}
            {#                        <label><input class="uk-checkbox" type="checkbox">B</label>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </form>#}
        </div>
    </div>

    <div class="space-m uk-align-center uk-width-1-1 uk-width-1-2@m"
         style="background: #f2f7fc; border: 1px solid #ddd; margin-top: 6em;">
        <div class="uk-padding" id="osmdCanvas"></div>
    </div>
    <input type="hidden" id="musicPiece" value="{{ music_pieces }}">
{% endblock %}