.upload_files_box {
    margin-top: 8em;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border: 2px black solid;
}

.upload_files_new {
    margin-top: 2em;
}

.uk-grid {
    margin-left: 0px;
    padding-left: 0px !important;
}

h2 {
    margin-top: 3em;
}

#explanation {
    margin-bottom: 2.5em;
}

.uk-button-default {
    background-color: transparent;
    color: #333;
    border: 1px solid #1e87f0;
}

.uk-button-default:focus, .uk-button-default:hover, .uk-button-default:active {
    background-color: #BBDEFB !important;
    border: 1px solid #1e87f0;
}

.submitButton {
    margin: 2em;
}


h3 {
    font-size: 1.2em;
}

#fileupload {
    display: none;
}